## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [23]:
country_list = ["台灣","美國","中國","日本"]
print(country_list)
population_list = np.random.randint(1000, high=10000, size=4)
print(population_list)

['台灣', '美國', '中國', '日本']
[8135 4695 2390 9779]

In [24]:
data = {'國家': country_list,
        '人口': population_list}
data = pd.DataFrame(data, columns=['國家', '人口'])

In [25]:
data

   國家    人口
0  台灣  8135
1  美國  4695
2  中國  2390
3  日本  9779